.course {
  margin-top: 30px;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    h1 {
      font-size: 19px;
      font-weight: 700;
      line-height: 1.47em;
    }
    justify-content: center;
    background: #f7f8fa;

    padding: 0 30px;
    // margin: 15px 15px 28px 0;
  }
  .right {
    // .nav {
    //   justify-content: space-between;
    // }
    .nav-list {
      border-bottom: 1px solid #dedfe0;
      margin-bottom: 16px;
    }
    .nav-item {
      a {
        position: relative;
        color: #29303b;
        &::after {
          background-color: #007791;
          content: "";
          height: 4px;
          width: 100%;
          display: none;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
        &:hover {
          border: none;
        }
      }
      a.active {
        &::after {
          display: block;
        }
        border: none;
      }
    }
    .container {
      padding-left: 0;
    }
    .course-item {
      cursor: pointer;
      .card {
        // img {
        //   width: 240px;
        //   height: 135px;
        // }
        .card-body {
          box-shadow: 0 1px 0 0 rgba(232, 233, 235, 0.5);
          .card-title {
            display: -webkit-box !important;
            -webkit-line-clamp: 2;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-weight: 700;
            height: 42px;
            font-size: 13px;
            color: #29303b;
            margin-bottom: 0;
          }
          .card-text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 11px;
            color: #686f7a;
          }
          .rating {
            display: flex;
            justify-content: left;
            align-items: center;
            i {
              color: #f4c150;
              line-height: 1;
              text-align: left;
              font-size: 12px;
              position: relative;
              bottom: 3px;
            }
            .count-star {
              color: rgb(80, 87, 99);
              font-size: 12px;
              font-weight: 700;
            }
            .count-review {
              color: rgb(104, 111, 122);
              font-size: 12px;
              font-size: 600;
              margin-left: 5px;
            }
          }
          .price {
            text-align: right;
            .old {
              font-size: 13px;
              font-weight: 400;
              text-decoration: line-through;
              margin-right: 6px;
            }
            .current {
              font-size: 18px;
              font-weight: 700;
              position: relative;
              top: 3px;
              // margin-right: 10px;
            }
          }
        }
      }
    }
    .tab-content {
      position: relative;
      // font-size: 40px;
    }
    // .owl-nav {
    //   position: absolute;
    //   top: 50%;
    //   bottom: 50px;
    // }
  }
}
