.header-left {
  display: flex;
  //   justify-content: center;
  align-items: center;
  a {
    flex-grow: 1;
  }
  .categories {
    flex-grow: 1;
    &:hover {
      background-color: $color-gray;
    }
  }
  form {
    .input-group {
      .form-control,
      i {
        background-color: $color-gray;
      }
    }
    input {
      &:focus.form-control,
      &:focus + i {
        background-color: $color-second;
      }
    }
  }
  @include search();
}
.header-right {
  ul {
    li {
      margin-right: 0.625rem;
      .btn-login {
        border: 1px solid gray;
        &:hover {
          font-weight: 600;
        }
      }
    }
    .btn-hover {
      @include buttonHeader();
    }
  }
}
