.top-categories {
  .content {
    margin: 30px auto;
    padding: 0 16px;
    h1 {
      @include text(null, 24px, 700, 1.33em);
    }
    .top-categories__item {
      padding: 8px 15px;
      .top-categories__body {
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
          0 3px 1px 0 rgba(20, 23, 28, 0.1);
        border-radius: 2px;
        padding: 15px;
        width: 100%;
        cursor: pointer;
        i {
          font-size: 24px;
          margin-right: 16px;
          //   font-weight: 300;
        }
        span {
          height: 32px;
          line-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex: 1;
          min-width: 1px;
        }
        &:hover {
          box-shadow: 0 3px 8px 2px rgba(20, 23, 28, 0.15);
        }
      }
    }
  }
}
