* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// body {
//   line-height: 1.43;
// }
.header-container {
  max-width: 1400px !important;
  margin: 0 auto;
}
.udemy-container {
  width: 90%;
  margin: 0 auto;
}
.benefit-container {
  width: 80%;
  margin: 0 auto;
}
